<a href="https://colab.research.google.com/github/Victorjbon/datacastle/blob/main/Bases_de_dados_com_a%C3%A7%C3%B5es_da_gol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#instalando o pacote do yahoo para download dos dados das ações
!pip install -q yfinance

     |████████████████████████████████| 6.3 MB 6.4 MB/s

In [6]:
#importando bibliotecas
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

In [7]:

#fazendo o download direto da internet - Escolhendo ação da gol
gol_df = yf.download("GOLL4.SA", start='2015-01-01')

[*********************100%***********************]  1 of 1 completed

In [8]:
gol_df.head(10)

             Open   High    Low  Close  Adj Close   Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99   901900
2015-01-05  14.90  15.01  14.41  14.85      14.85  1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21  2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55  1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27  1569500
2015-01-09  14.14  14.33  13.84  14.05      14.05  1270300
2015-01-12  14.05  14.40  13.67  14.25      14.25  2385300
2015-01-13  14.22  14.63  13.69  13.69      13.69  2967400
2015-01-14  13.69  14.04  13.39  13.78      13.78  2174300
2015-01-15  13.60  14.20  13.60  14.05      14.05  1881800

In [9]:
gol_df.shape

(1698, 6)

In [16]:
#fazendo algumas análises estatisticas
gol_df.describe()

              Open         High  ...    Adj Close        Volume
count  1698.000000  1698.000000  ...  1698.000000  1.698000e+03
mean     15.730183    16.113799  ...    15.693098  4.999588e+06
std       9.895227    10.078588  ...     9.889470  4.788299e+06
min       1.160000     1.180000  ...     1.160000  0.000000e+00
25%       7.672500     7.790000  ...     7.640000  1.940400e+06
50%      14.175000    14.560000  ...    14.190000  3.450500e+06
75%      22.390000    23.012500  ...    22.395000  6.341025e+06
max      43.669998    44.619999  ...    43.790001  4.368050e+07

[8 rows x 6 columns]

In [17]:
#retornando um registro
gol_df[gol_df['Close'] >= 43.79]

             Open       High    Low      Close  Adj Close   Volume
Date
2019-08-01  41.25  44.619999  41.25  43.790001  43.790001  6664200

In [19]:
gol_df[(gol_df['Close'] >= 1.15) & (gol_df['Close'] <= 1.16)]

            Open  High   Low  Close  Adj Close   Volume
Date
2016-01-22   1.2  1.26  1.14   1.16       1.16  3830600

In [26]:
#converter o arquivo para um dataframe do pandas - salvando em csv
gol_df.to_csv('gol.csv')

In [27]:
gol_df2 = pd.read_csv('/content/gol.csv')
gol_df2

            Date       Open       High  ...      Close  Adj Close   Volume
0     2015-01-02  14.970000  15.200000  ...  14.990000  14.990000   901900
1     2015-01-05  14.900000  15.010000  ...  14.850000  14.850000  1272500
2     2015-01-06  14.750000  15.210000  ...  15.210000  15.210000  2183500
3     2015-01-07  15.150000  15.330000  ...  14.550000  14.550000  1846900
4     2015-01-08  14.410000  14.650000  ...  14.270000  14.270000  1569500
...          ...        ...        ...  ...        ...        ...      ...
1693  2021-11-11  17.600000  18.790001  ...  18.090000  18.090000  9803600
1694  2021-11-16  17.690001  17.799999  ...  16.870001  16.870001  4906100
1695  2021-11-17  17.070000  17.370001  ...  16.930000  16.930000  7192500
1696  2021-11-18  16.990000  17.500000  ...  16.650000  16.650000  4760000
1697  2021-11-19  16.559999  16.959999  ...  16.709999  16.709999  3989200

[1698 rows x 7 columns]